:root {
  --primary-blue: #39CDCC;
  --dark-blue: #213F7D;
  --teal-green: #39CDCC;
  --bkg-color: rgb(242, 242, 242);
  --hover-color: rgb(230, 250, 255, 0.3);
  --default-size: 16px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* html,
body {
  background: var(--bkg-color);
} */

.app {
  max-width: 1400px;
  margin: 0 auto;
}

#side::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 5px;
  background: inherit;
}

#side::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background-color: #CFCFCF;
  border-radius: 2px;
}