:root {
  --primary-blue: #39CDCC;
  --dark-blue: #213F7D;
  --teal-green: #39CDCC;
  --text-gray: #545F7D;
  --active: #39CD62;
  --active-bg: rgba(57, 205, 98, 0.06);
  --inactive: #545F7D;
  --inactive-bg: rgba(84, 95, 125, 0.06);
  --pending: #E9B200;
  --pending-bg: rgba(233, 178, 0, 0.06);
  --bkg-color: #E5E5E5;
  --blacklisted: #E4033B;
  --blacklisted-bg: rgba(228, 3, 59, 0.06);
  --bkg-opacity: rgba(242, 242, 242, 0.4);
  --hover-color: rgb(230, 250, 255, 0.3);
  --default-size: 16px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Work Sans', sans-serif;
  max-width: 1400px;
  margin: 0 auto;
}

.hideShow {
  display: none;
  max-width: 400px;
  text-align: center;
  padding: 0 2rem;
  padding-top: 40%;
  margin: auto;
}

.hideShow span {
  font-weight: 500;
  font-size: 16px;
}

#side::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 5px;
  background: inherit;
}

#side::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background-color: #CFCFCF;
  border-radius: 2px;
}

@media (max-width:1023px) {
  .hideShow {
    display: block;
  }
}